:root{

    --font-primary: #FFFFFF;
    --font-secondary: #CCCCCC;
    --font-notes: #AAAAA1;
    --font-gray: #747474;
    --font-dark: #1b1b1b;

    /* backgorund colors  */
    --background-dark: #000000;
    --background-gray: #1F2128;
    --background-light: #EEEEEE;
    --background-light-2: #DDDDDD;
    --background-darkGrey: #16171b;

    /* pastels */
    --brand-color: #1c7d5e;
    --pastel-blue: #688DE2;
    --pastel-indigo: #726CF2;
    --pastel-green: #5BB68B;
    --pastel-red: #DA714F;
    --pastel-yellow: #E6C142;
    --color-pop-1: #639EF5;
    --color-pop-2: #716EF5;
    --color-pop-3: #F29C36;
    --color-pop-4: #F57042;
    /* font family  */
    font-family: 'Poppins', sans-serif;
}

.App{
    min-height: 100vh;
}

ul{
    list-style: none;
}
.active{
    color: var(--brand-color);
}
.dark-theme{
    background-color: var(--background-dark);
    color: var(--font-primary);
}

.day-theme{
    background-color: var(--background-light);
    color: var(--font-dark);
}
.hide{
    display: none;
}
.show{
    display: block;
}

.brand-color{
    color: var(--pastel-green);
}

.heading1{
    font-size: 2.25rem;
}

.heading2{
    font-size: 1.526rem;
}

.heading3{
    font-size: 1.25rem;
}

.paragraph1{
    font-size: 1.125rem;
}

.paragraph2{
    font-size: 0.875rem;
}

.dark-font{
    color: var(--background-dark);
}

.day-font{
    color: var(--font-primary);
}

html::-webkit-scrollbar {
    width: 5px; 
 }

html::-webkit-scrollbar-track {
  background-color: var(--background-dark);
}

html::-webkit-scrollbar-thumb {
  background: var(--background-gray);
  border-radius: 25px;
}
